.recommended-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  margin-right: 50px;
  margin-top: 3%;
  box-shadow: inset 15px 3px 144px -6px rgba(255, 255, 255, 0.8);
}

.index-content {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.left {
  width: calc(100% - 400px);
}

.slick-list {
  height: 55vh !important;
}
