.recommended-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  margin-right: 50px;
  margin-top: 3%;
  box-shadow: inset 15px 3px 144px -6px rgba(255, 255, 255, 0.8);
  animation-name: recommender-animation;
  animation-duration: 1s;
  transition: all 0.5s;
}

.index-content {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.left {
  width: calc(100% - 400px);
}

@keyframes recommender-animation {
  0% {
    transform: translateY(-400px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.slick-list {
  height: 55vh !important;
}

@media (max-width: 1000px) {
  .left {
    width: 100%;
  }
  .index-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .recommended-products {
    margin: 0;
  }
}

@media (max-width: 455px) {
  .recommended-products {
    width: 100%;
  }
}
