.static-parent {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 0 20px 0;
}

.index-row > p {
  padding: 20px 50px 20px 50px;
  color: darkslategrey;
  font-weight: bold;
  font-size: 20;
  text-align: justify;
}

.index-row {
  margin: 0;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.index-row > img {
  border-radius: 50%;
  opacity: 0.85;
  animation: img-animation 4s infinite;
  animation-timing-function: linear;
}

.static-parent-2 > img {
  animation-delay: 1.5s;
}

@keyframes img-animation {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.index-static {
  margin-top: 5%;
}

@media (max-width: 850px) {
  .index-row {
    flex-direction: column;
  }
  .static-parent-2 {
    flex-direction: column-reverse;
  }
}

@media (max-width: 600px) {
  .index-row > p {
    padding: 20px 10px 20px 10px;
    color: darkslategrey;
    font-weight: bold;
    font-size: 20;
    text-align: justify;
  }
}
