.products-all {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  width: 99%;
}

@media (max-width: 991px) {
  .products-all {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 670px) {
  .products-all {
    grid-template-columns: 1fr;
  }
}
