.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;
  z-index: 2;
}
.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}

.btn-facebook {
  background-color: #405d9d;
  color: #fff;
}
.btn-twitter {
  background-color: #42aeec;
  color: #fff;
}

.register-form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 5%;
  flex-wrap: wrap;
  animation-name: register-animation;
  animation-duration: 0.75s;
}

@keyframes register-animation {
  0% {
    transform: translateY(-25px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.form-register {
  width: 50%;
}

.title-main {
  font-weight: bolder;
  color: var(--cyan);
}

.title {
  color: darkslategrey;
}

.register-logo {
  width: 50%;
}

.register-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
