.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.filters > input {
  width: 150px;
}

.filters > select {
  width: 25%;
}

.no-data-img {
  width: 50vh;
  margin: auto;
  transition: all 0.45s;
}

.no-data {
  transition: all 0.45s;
  animation: load-animation 0.75s;
}

@keyframes load-animation {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.new-service-request {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 1;
  transition: all 0.5s;
}

.my-tooltip {
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
  transition: all 0.4s;
  opacity: 0;
  font-size: small;
}

.new-service-request:hover .my-tooltip {
  opacity: 1;
}

.viewed-tooltip,
.approved-tooltip {
  display: inline;
}
