.service-details {
  transition: all 0.25s;
}

.service-title {
  width: 100%;
  overflow: hidden;
}

.service-type {
  width: 150px;
}

.service-quantity {
  width: 150px;
}

.service-created {
  width: 250px;
}

.service-download {
  margin-right: 25px;
}

.service-parent {
  padding-top: 15px;
  margin: auto;
  width: 65% !important;
  border: 2px solid rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  transition: all 0.2s;
}

.service-parent:hover {
  background-color: rgba(0, 0, 0, 0.025);
}

.service {
  padding: 10px 0 10px 0;
  width: 100% !important;
}

.service-icon {
  margin-right: 10px;
}

.service-details p {
  margin: 0 !important;
  text-align: center;
}
